html {
    background-color: #D3D3D3;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
}

p {
    line-height: 2;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: 0;
    width: 4%;
    margin: 100px auto;
}

h1 {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-size: 5.6rem;
    margin-top: 60px;
    color: #ffffffff;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    color: #192a51;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #192a51;
    font-size: 1.8rem;
}


h4 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1.8rem;
}

a {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    
}

a:hover {
    color: #66BFBF;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

.top-container {
    background-color: #192a51;
    position: relative;
    padding-top: 100px;
}

.mountain {
    position: relative;
    align-items: center;
    margin-bottom: -4px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #192a51;
    padding: 50px 0 20px;
}

.dev {
    color: #66BFBF;
}

.top-plane {
    position: relative;
    margin-right: 500px;
    margin-top: 20px;
 }

.bottom-cloud {
    position: absolute;
    margin-left: 500px;
    margin-bottom: 300px;
}

.Fleet {
    width: 40%;
    float: left;
    margin-right: 30px;
    border-radius: 5px;
}

.Instructor {
    width: 40%;
    float: right;
    margin-left: 30px;
    border-radius: 5px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}


.code-skill2 {
    margin-bottom: 125px;
} 

.intro {
   width: 30%; 
   margin: auto;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    line-height: 1.6rem;
    text-emphasis: none;
    font-size: 1.2rem;
    appearance: none;
}